annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
bcrypt==4.0.1
charset-normalizer==3.5.1
click==8.5.0
colorama==0.4.6
dnspython==2.8.0
ecdsa==0.19.2
email-validator==2.3.0
fastapi==0.141.1
greenlet==3.5.5
h11==0.16.0
idna==3.19
passlib==1.7.4
pillow==12.3.0
psycopg2-binary==2.9.12
pyasn1==0.6.4
pydantic==2.13.5
pydantic_core==2.46.5
python-dotenv==1.2.3
python-jose==3.5.0
python-multipart==0.0.32
qrcode==8.2
reportlab==5.0.1
rsa==4.9.1
six==1.17.0
SQLAlchemy==2.0.52
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.52.4